repos:
  # go hooks for sqlc and protobuf
  - repo: local
    hooks:
      - id: sqlc-generate
        name: sqlc generate
        entry: scripts/sqlc-generate.sh
        language: system
        files: ^services/backend/internal/sql/
        pass_filenames: false

      - id: buf-generate
        name: buf generate
        entry: scripts/buf-generate.sh
        language: system
        files: ^services/backend/proto/
        pass_filenames: false

  # General purpose linters and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Shell script linting
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  # Go linters & formatters
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: "\\.(js|jsx|ts|tsx|json|css|scss|md|yaml|yml)$"
        args: ["--write", "--no-cache"]

  # JSON and YAML validation
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            -d,
            "{extends: default, rules: {document-start: disable, line-length: disable}}",
          ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        exclude: ^services/airflow/
      - id: ruff-format
        exclude: ^services/airflow/

  # Tiltfile/Starlark linting
  - repo: https://github.com/bazelbuild/buildtools
    rev: v8.2.1
    hooks:
      - id: buildifier
        name: Format Tiltfile (Starlark)
        files: (^Tiltfile$|\.star$)
        args: ["-lint=warn"]

  # Docker Compose validation
  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check
        files: docker-compose.*\.yaml$
